.product-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: top;
	justify-content: center;
}

.product-list-item {
	flex: 1 1 30%;
	margin-bottom: 40px;
	position: relative;
}

.product-list-item img {
	max-width: 100px;
	margin-bottom: 20px;
}

.product-list-item .title {
	display: block;
	font-size: 14px;
	margin-bottom: 16px;
}

.product-list-item .price {
	display: block;
	font-size: 14px;
	margin-bottom: 16px;
}
