.product img {
	max-width: 200px;
	margin-bottom: 30px;
}

.product h1 {
	font-size: 28px;
	margin-bottom: 20px;
}

.product h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

.product h3 {
	font-size: 18px;
	margin-bottom: 20px;
}
