/* 
 ****************
 * Resets
 ****************
 */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

a {
	text-decoration: none;
}

/* 
 ****************
 * Header
 ****************
 */

header {
	display: block;
	width: 100%;
	margin-bottom: 30px;
}

header ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	padding: 20px;
}

.btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 12px 24px;
	border-radius: 15px;
	background: #efefef;
	cursor: pointer;
}

.btn-danger {
	background: #d9534f;
	color: #fff;
}

.text-center {
	text-align: center;
}

p {
	margin-bottom: 16px;
}

/* 
 ****************
 * Body
 ****************
 */

main {
	width: 80%;
	text-align: center;
	margin: auto;
}
